* {
    font-family:NSimSun;
}

/* header */
.animation {
  width: 20px;
  animation: x 10s infinite alternate;
  border: 0px solid #fff;
  height: 3px;
  border-radius: 20px;
  margin: 0px;
}

@keyframes x {
  0% {
    background-color: lightblue;
  }
  25% {
    background-color:lavenderblush;
  }
  50% {
    background-color: lightgoldenrodyellow;
  }
  75%{
    background-color: #bee3db;
  }
  100% {
    background-color: lightcyan;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:3px;
  background-color: #fff;
}

.header .logoa {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.logo {
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0px 0px 10px lavenderblush;
  width: 42px;
  height: 42px;
}

.header div {
  display: flex;
}

.header div a {
  padding: 0px 30px;
  line-height: 82px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.header div a:hover {
  background-color: lightblue;
  color: #457b9d;
  transition: 1s;
}

/* container */
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.title .detail {
  margin-top: 20px;
  text-align: center;
}

.item {
  position: relative;
  flex: 0 0 28%;
  padding: 10px;
}

.item:hover {
  background-color: rgba(234, 226, 183, 0.1);
  transition: 1s 0s ease;
  box-shadow:1px 1px 12px gray;
}

.item img {
  width: 100%;
  border:0.2px solid lightgray;
  box-shadow:1px 1px 3px lightgray;
}
